.product_Wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.img_Section {
  flex-basis: 50%;
}
.content_Section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.img_Align {
  width: 80%;
  margin: auto;
}
.img_Align img {
  max-width: 100%;
}
.offer {
  background: #ff1631;
  color: white;
  width: max-content;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  margin-block: 5px;
}

.product_Type {
  color: #00c5dd;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
}

.border_Items {
  border-top: 2px solid #f2f3f5;
  border-bottom: 2px solid #f2f3f5;
  display: flex;
  flex-direction: column;
	padding-block: 20px;
}

.inline_Items {
  display: flex;
  justify-content: space-between;
}

.text_Right {
  text-align: right;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 400;
  color: #2d3743;
}

.btn_Row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 15px;
}

.btn_Row button {
  flex-basis: 50%;
  text-align: center;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  height: 50px;
  cursor: pointer;
}
.btn_Row button:nth-child(1) {
  background: #ffab00;
}
.btn_Row button:nth-child(2) {
  background: #00bb54;
  color: white;
}

.select_Option {
  width: 30%;
}
.select_Option select {
  width: 100%;
  border: 2px solid #e4e7eb;
  padding: 6px 10px;
  background: white;
  color: #8e9dab;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.count {
  float: right;
  font-size: 13px;
  font-weight: 400;
  color: #748491;
}

.add_Items {
  display: flex;
  gap: 10px;
  border: 2px solid #e4e7eb;
  padding: 6px 10px;
  background: white;
  color: #8e9dab;
  border-radius: 10px;
  font-size: 16px;
}
.add_Items p {
  margin-block: 0;
  cursor: pointer;
}
.add_Items p:nth-child(1) {
  font-size: 20px;
}
.add_Items p:nth-child(3) {
  font-size: 16px;
}

.ratings {
  margin-block: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #738391;
}
.price{
	font-size: 20px;
	font-weight: 800;
}
@media (max-width: 880px) {
  .product_Wrapper {
    flex-direction: column;
  }
}
